In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy import stats

import aux_functions as aux

In [2]:
main_data, keys = aux.prepare_data()
# main_data.head()

## Search tasks

In [3]:
tasks = keys['tasks']
tasks_data = main_data[keys['tasks']]
tasks_data.head()

,Web search results relevance - Google,Web search results relevance - Yippy,Image search results relevance - Google,Image search results relevance - Yippy,Video search results relevance - Google,Video search results relevance - Yippy,News search results relevance - Google,News search results relevance - Yippy
0,1,9,8,4,10,1,5,5
1,10,9,10,10,10,4,8,8
2,9,8,7,9,9,4,4,4
3,10,10,9,10,9,9,7,8
4,9,8,10,10,10,9,10,10

In [12]:
t_tests = {}

for i in range(0,len(tasks),2):
    task = tasks[i].split(' ')[0]
    
    google = tasks_data[tasks[i]]
    yippy = tasks_data[tasks[i+1]]
    
    stat, pval = stats.ttest_rel(google, yippy)
    
    t_tests[task] = (google.mean(), google.std(), yippy.mean(), yippy.std(), stat, pval)

index = ['Mean (Google)', 'Std (Google)', 'Mean (Yippy)', 'Std (Yippy)', 't-statistic', 'p-value (2-tailed)']
pd.DataFrame(t_tests, index=index).round(3)

                      Web  Image  Video   News
Mean (Google)       8.355  8.065  7.613  5.903
Std (Google)        1.924  1.459  2.231  2.868
Mean (Yippy)        7.710  7.774  5.161  5.065
Std (Yippy)         1.970  2.261  3.377  3.549
t-statistic         1.283  0.695  3.465  1.773
p-value (2-tailed)  0.209  0.493  0.002  0.086

## Yippy - general experience

In [ ]:
yippy_data = main_data[keys['tasks']]
yippy_data.head()