In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy import stats

import aux_functions as aux

In [2]:
main_data, keys = aux.prepare_data()
# main_data.head()

## Search tasks

In [3]:
tasks = keys['tasks']
tasks_data = main_data[keys['tasks']]
tasks_data.head()

,Web search results relevance - Google,Web search results relevance - Yippy,Image search results relevance - Google,Image search results relevance - Yippy,Video search results relevance - Google,Video search results relevance - Yippy,News search results relevance - Google,News search results relevance - Yippy
0,1,9,8,4,10,1,5,5
1,10,9,10,10,10,4,8,8
2,9,8,7,9,9,4,4,4
3,10,10,9,10,9,9,7,8
4,9,8,10,10,10,9,10,10

In [4]:
t_tests = {}

for i in range(0,len(tasks),2):
    task = tasks[i].split(' ')[0]
    
    google = tasks_data[tasks[i]]
    yippy = tasks_data[tasks[i+1]]
    
    stat, pval = stats.ttest_rel(google, yippy)
    
    t_tests[task] = (google.mean(), google.std(), yippy.mean(), yippy.std(), stat, pval)

index = ['mean (Google)', 'std (Google)', 'mean (Yippy)', 'std (Yippy)', 't-statistic', 'p-value (2-tailed)']
pd.DataFrame(t_tests, index=index).round(3)

                      Web  Image  Video   News
mean (Google)       8.355  8.065  7.613  5.903
std (Google)        1.924  1.459  2.231  2.868
mean (Yippy)        7.710  7.774  5.161  5.065
std (Yippy)         1.970  2.261  3.377  3.549
t-statistic         1.283  0.695  3.465  1.773
p-value (2-tailed)  0.209  0.493  0.002  0.086

## Yippy - general experience

In [5]:
yippy_data = main_data[keys['yippy']]
yippy_data.head()

,How easy did you find Yippy to use?,How would you rate the speed of the search?,How much do you prefer Google over Yippy?,How likely are you to return to Yippy?
0,10,10,7,10
1,10,8,5,3
2,7,10,5,4
3,10,6,1,5
4,9,10,5,7

In [12]:
t_tests_yippy = {}

for question in yippy_data.keys():    
    question_data = yippy_data[question]
    stat, pval = stats.ttest_1samp(question_data, 0.5)
    
    t_tests_yippy[question] = (question_data.mean(), question_data.std(), stat, pval)

index = ['mean', 'std', 't-statistic', 'p-value (2-tailed)']
t_tests_yippy_df = pd.DataFrame(t_tests_yippy, index=index)
t_tests_yippy_df

,How easy did you find Yippy to use?,How would you rate the speed of the search?,How much do you prefer Google over Yippy?,How likely are you to return to Yippy?
mean,8.129032e+00,7.645161e+00,7.064516e+00,4.709677e+00
std,1.892827e+00,2.090429e+00,2.322864e+00,2.923395e+00
t-statistic,2.244085e+01,1.903082e+01,1.573475e+01,8.017560e+00
p-value (2-tailed),2.631505e-20,2.695209e-18,4.885526e-16,5.987389e-09

In [13]:
t_tests_yippy_df.round(3)

,How easy did you find Yippy to use?,How would you rate the speed of the search?,How much do you prefer Google over Yippy?,How likely are you to return to Yippy?
mean,8.129,7.645,7.065,4.710
std,1.893,2.090,2.323,2.923
t-statistic,22.441,19.031,15.735,8.018
p-value (2-tailed),0.000,0.000,0.000,0.000